<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="data['sprites']['other']['official-artwork']['front_default']" alt={{data.name}}>
    <div class="card-body">
        <h5 class="card-title text-center">{{data.name}}</h5>
        <p class="card-text"><strong>Height: </strong>{{data.height}}</p>
        <p class="card-text"><strong>Weight: </strong>{{data.weight}}</p>
        <p class="card-text"><strong>Base Experience: </strong>{{data['base_experience']}}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>